.main {
  padding: 36px 0;
  color: var(--color-white);
  flex: 1 0 auto;
}

.content {
  display: block;
  animation: float-up 420ms ease;
  background: linear-gradient(180deg, rgba(255,255,255,0.01), transparent);
  border-radius: 8px;
  padding: 18px;
}
